.app__container {
	width: 100%;
	overflow-x: hidden;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.app__header {
	width: 100%;
	padding: 5px;
	background: green;
}

.app__footer {
	width: 100%;
	padding: 5px;
	background: green;
}

.app__middle {
	flex-grow: 1;
	display: flex;
}

.app__left-bar {
	width: 15%;
	padding: 10px;
}

.app__main {
	width: 85%;
	padding: 10px;
	background: gray;
}

