.admin-categories-list {
	width: 100%;
}

/*admin-categories-list-item*/
.admin-categories-list-item {
	width: 100%;
	padding: 5px;
	background: gold;
	margin: 0 0 10px;
}

.admin-categories-list-item:last-child{
	margin: 0;
}
.admin-categories-list-item__name{padding: 5px;
	background: skyblue;}
.admin-categories-list-item__child{padding-left: 10px;
	padding-top: 5px;}



.admin-categories-list-item__child .admin-categories-list-item {margin: 0; padding-right: 0;}
